<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="biz.laenger.android.foo.feature.two">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_title_two">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon" />

</manifest>
